<section class="getInTouch">
	<h1>Get in touch</h1>
	<ul>
		<li><a href="http://github.com/marc-mabe" target="_blank" title="Follow me on Github">
			<img width="32" height="32" src="/assets/img/icons-32x32/github.png" alt=""> Github
		</a></li>
		<li><a href="http://www.slideshare.net/marc-mabe" target="_blank" title="Follow me on Slideshare">
			<img width="32" height="32" src="/assets/img/icons-32x32/slideshare.png" alt=""> Slideshare
		</a></li>
		<li><a href="http://stackoverflow.com/users/1302881/mabe-berlin" target="_blank" title="Follow me on Stackoverflow">
			<img width="32" height="32" src="/assets/img/icons-32x32/stackoverflow.png" alt=""> Stackoverflow
		</a></li>
		<li><a href="https://www.xing.com/profile/Marc_Bennewitz" target="_blank" title="Share with my contacts on XING">
			<img width="32" height="32" src="/assets/img/icons-32x32/xing.png" alt=""> XING
		</a></li>
	</ul>
</section>
