.jumbotron { border-radius: 0; padding: 0; background: -moz-linear-gradient(center top , #F2F2F2, #FFFFFF) #FAFAFA repeat-x }
.masthead { padding: 40px 0 }

.footer { background-color: #F5F5F5; border-top: 1px solid #E5E5E5; margin-top: 10px; padding: 10px 0 }
.footer p { color: #777777; margin-bottom: 0 }
.footer h1 { margin-top:5px }

.getInTouch ul { list-style: none }
.getInTouch ul li { margin-top: 5px }

article.post > .content { clear: both; padding-top: 20px; }
article.post > time { float: left; font-size:15px;  line-height: 18px; margin:0; padding:0 }
article.post > section.categories *,
article.post > section.tags * { font-size:15px;  line-height: 18px; margin:0; padding:0 }
article.post > section.categories h1,
article.post > section.tags h1 { float: left; margin: 0 5px}
article.post > section.categories h1:after,
article.post > section.tags h1:after { content: ":" }
article.post > section.categories ul,
article.post > section.tags ul { list-style: none; float: left; }
article.post > section.categories li,
article.post > section.tags li { float: left; margin-right: 5px }
