<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{% if page.title %}{{ page.title }} - mabe{%else%}mabe{% endif %}</title>
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/assets/css/mabe.css">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for www.marc-bennewitz.de" href="/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed for www.marc-bennewitz.de" href="/atom.xml" />

<!-- html5shim.googlecode.com -->
<!--[if lt IE 9]><script>
(function(l,f){function m(){var a=e.elements;return"string"==typeof a?a.split(" "):a}function i(a){var b=n[a[o]];b||(b={},h++,a[o]=h,n[h]=b);return b}function p(a,b,c){b||(b=f);if(g)return b.createElement(a);c||(c=i(b));b=c.cache[a]?c.cache[a].cloneNode():r.test(a)?(c.cache[a]=c.createElem(a)).cloneNode():c.createElem(a);return b.canHaveChildren&&!s.test(a)?c.frag.appendChild(b):b}function t(a,b){if(!b.cache)b.cache={},b.createElem=a.createElement,b.createFrag=a.createDocumentFragment,b.frag=b.createFrag();
a.createElement=function(c){return!e.shivMethods?b.createElem(c):p(c,a,b)};a.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+m().join().replace(/\w+/g,function(a){b.createElem(a);b.frag.createElement(a);return'c("'+a+'")'})+");return n}")(e,b.frag)}function q(a){a||(a=f);var b=i(a);if(e.shivCSS&&!j&&!b.hasCSS){var c,d=a;c=d.createElement("p");d=d.getElementsByTagName("head")[0]||d.documentElement;c.innerHTML="x<style>article,aside,figcaption,figure,footer,header,hgroup,nav,section{display:block}mark{background:#FF0;color:#000}</style>";
c=d.insertBefore(c.lastChild,d.firstChild);b.hasCSS=!!c}g||t(a,b);return a}var k=l.html5||{},s=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,r=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,j,o="_html5shiv",h=0,n={},g;(function(){try{var a=f.createElement("a");a.innerHTML="<xyz></xyz>";j="hidden"in a;var b;if(!(b=1==a.childNodes.length)){f.createElement("a");var c=f.createDocumentFragment();b="undefined"==typeof c.cloneNode||
"undefined"==typeof c.createDocumentFragment||"undefined"==typeof c.createElement}g=b}catch(d){g=j=!0}})();var e={elements:k.elements||"abbr article aside audio bdi canvas data datalist details figcaption figure footer header hgroup mark meter nav output progress section summary time video",shivCSS:!1!==k.shivCSS,supportsUnknownElements:g,shivMethods:!1!==k.shivMethods,type:"default",shivDocument:q,createElement:p,createDocumentFragment:function(a,b){a||(a=f);if(g)return a.createDocumentFragment();
for(var b=b||i(a),c=b.frag.cloneNode(),d=0,e=m(),h=e.length;d<h;d++)c.createElement(e[d]);return c}};l.html5=e;q(f)})(this,document);
</script><![endif]-->
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

{% include nav.html %}

{% if page.title %}
<header id="overview" class="jumbotron subhead">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}<p class="lead">{{ page.subtitle }}</p>{% endif %}
	</div>
</header>
{% endif %}

<div class="container">
    <div class="row">
        <div class="span9">
            {{ content }}
        </div>
    </div>
</div>

<footer class="footer">
	<div class="container">
		<div class="span3">
			{% include tagcloud.html %}
		</div>
		<div class="span5">
			<ul>
				<li><a href="http://github.com/marc-mabe" target="_blank" title="Follow me on Github">
					<img width="32" height="32" src="/assets/img/icons-32x32/github.png" alt=""> Github
				</a></li>
				<li><a href="http://www.slideshare.net/marc-mabe" target="_blank" title="Follow me on Slideshare">
					<img width="32" height="32" src="/assets/img/icons-32x32/slideshare.png" alt=""> Slideshare
				</a></li>
				<li><a href="http://stackoverflow.com/users/1302881/mabe" target="_blank" title="Follow me on Stackoverflow">
					<img width="32" height="32" src="/assets/img/icons-32x32/stackoverflow.png" alt=""> Stackoverflow
				</a></li>
				<li><a href="https://www.xing.com/profile/Marc_Bennewitz" target="_blank" title="Share with my contacts on XING">
					<img width="32" height="32" src="/assets/img/icons-32x32/xing.png" alt=""> XING
				</a></li>
			</ul>
		</div>
		<div class="span3">
			<h1><img width="32" height="32" src="/assets/img/icons-32x32/feed.png" alt=""> Follow me</h1>
			<ul>
				<li><a href="/rss.xml" title="RSS Feed">RSS</li>
				<li><a href="/atom.xml" title="Atom Feed">Atom</a></li>
			</ul>
		</div>
	</div>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34447207-1']);
  _gaq.push(['_setDomainName', 'marc-bennewitz.de']);
  _gaq.push(['_trackPageview']);
  (function(d) {
    var ga = d.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })(document);
</script>
</body>
</html>